@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

.form
{
  height: 500px;
}

.form-container
{
  background-color: #191b1d;
  height: 420px;
  width: 600px;
  border-radius: 20px;
}

form
{
  color: #D1B418;
  text-align: center;
}

h3
{
    color: #D1B418;
}

.form-control
{
  width: 300px;
  margin-left: 9rem;
  margin-right: 7rem;
  margin-top: 5px;
  margin-bottom: 10px;
}

.btn1
{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  margin-top: 15px;
  color: #070808;
  border: 2px solid whitesmoke;
  width: 200px;
  margin-left: 0px;
}

h3
{
  color: #D1B418;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.ratingDrop
{
  margin-left: 9.7rem;
}


@media (width:1920px) {
  .form
  {
    padding-top: 150px;
  }
}


@media (width:1792px) {
  .form
  {
    padding-top: 170px;
  }
}


@media (width:1680px) {
  .form
  {
    padding-top: 120px;
  }
}


@media (width:1536px) {
  .form
  {
    padding-top: 40px;
  }
}


@media (width:1440px) {
  .form
  {
    padding-top: 40px;
  }
}


