@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

h1
{
font-family: 'Montserrat', sans-serif;
color: #D1B418;
font-weight: bold;
}

.container-fluid
{
  background-color: #232528;
  height: 180px;
}

.container
{
  background-color: transparent;
  padding-top: 30px;
}

.headerp
{
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
}
.title
{
  text-decoration: none;
}
